{% extends 'base.html.twig' %}

{% block stylesheets %}


{% endblock %}

{% block body %}
    <section class="playerList">
    <div class="container">
        <div class="row">
            {% for player in players %}
                <div class="col-sm-4">
                    <figure class="snip1477">
                        <img class="img-fluid" src="{{ player.picture }}"/>
                        <div class="title">
                            <div>
                                <h2>{{ player.name }}</h2>
                                <h4>{{ player.surname }}</h4>
                            </div>
                        </div>
                        <figcaption>
                            <h3>Age : {{ player.age }} ans</h3>
                            <h3>Role : {{ player.role }}</h3>
                        </figcaption>
                        <a href="#"></a>
                    </figure>
                </div>
            {% endfor %}
        </div>
    </div>
    </section>
{% endblock %}
