{% extends 'base.html.twig' %}

{% block body %}
 <div class="container-fluid">
     <div class="team-title text-center">
         <h1>Teams list</h1>
     </div>
     <table class="table table-striped table-dark table-hover">
         <thead class="thead-color">
         <tr>
             <th>Pays</th>
             <th>Nom</th>
             <th>Joueurs</th>
             <th>Temps</th>
         </tr>
         </thead>
         <tbody>
         {% for team in teams %}
             <tr>
                 <td><img src="{{ team.countryid.picture }}" height="80" width="120"></td>
                 <td><a href="{{ path('team_show', { 'id': team.id }) }}">{{ team.nom }}</a></td>
                 <td>{{ team.nBjoueur }}</td>
                 <td>{% if team.temps %}{{ team.temps|date('H:i:s') }}{% endif %}</td>
             </tr>
         {% endfor %}
         </tbody>
     </table>
 </div>
     {% endblock %}


