{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="team-title text-center">
        <h1>{{ team.nom }}</h1>
    </div>

    <table class="table table-striped table-dark table-hover">
        <tbody>
        <tr>
            <td><img src="{{ team.countryid.picture }}" height="100" width="150"></td>
        </tr>
        <tr>{% for player in players %}
                    <div class="col-sm-3">
                        <figure class="snip1477" style="background-image: url('{{ player.picture }}');  background-repeat: no-repeat; background-size: cover;">
                            <div class="title">
                                <div>
                                    <h2>{{ player.name }}</h2>
                                    <h4>{{ player.surname }}</h4>
                                </div>
                            </div>
                            <figcaption>
                                <h3>Age : {{ player.age }} ans</h3>
                                <h3>Role : {{ player.role }}</h3>
                            </figcaption>
                            <a href="#"></a>
                        </figure>
                    </div>
            {% endfor %}
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
